/* header */

header {
  display: flex;
  justify-content: space-between;
  background-color: #1dace0;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.icon img {
  height: 60px;
}

.icon .name strong {
  color: #eae51f;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.header-right li:first-child {
  margin-right: 20px;
}

/* headerここまで */